body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: rgb(0, 4, 255);
}
.btn.btn-success {
  float: right;
}
.primary-nav {
  margin-bottom: 30px;
}
.container-fluid {
  margin-bottom: 40px;
}
.my-row {
  border: 1px solid black;
  height: 35px;
  justify-content: center;
}
.my-col{
  border: 1px solid black;
}